
.card {
   /* box-shadow: 0 20px 27px 0 rgba(134, 134, 134, 0.05); */
 
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(8, 0, 0);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
}

.card-body {
    background-color: rgb(218, 218, 224);
    min-height: 20rem;
}

.bgc-h-secondary-l3:hover, .bgc-secondary-l3 {
    background-color: #acb2b4!important;
}
.h-4 {
    height: 2rem;
}
.w-4 {
    width: 2rem;
}
.d-zoom-1, .d-zoom-2, .d-zoom-3, .dh-zoom-1, .dh-zoom-2, .dh-zoom-3 {
    transition: -webkit-transform 180ms;
    transition: transform 180ms;
    transition: transform 180ms,-webkit-transform 180ms;
}
.mr-25, .mx-25 {
    margin-right: .75rem!important;
}

.p-25 {
    padding: .75rem!important;
}
.radius-1 {
    border-radius: .25rem!important;
}
[class*=bgc-h-] {
    transition: background-color .15s;
}

.text-default-d3 {
    color: #000000!important;
}
.font-bolder, .text-600 {
    font-weight: 600!important;
}
.text-90 {
    font-size: .9em!important;
}

.text-80 {
    font-size: .8em!important;
}


.bgc-h-secondary-l4:hover, .bgc-secondary-l4 {
    background-color: #f2f4f6!important;
}
.text-danger-m1 {
    color: #da3636!important;
}
.text-green-m1 {
    color: #2c8d6a!important;
}
.text-95 {
    font-size: .95em!important;
}